<!DOCTYPE html>
<html>
<head>
<title>选择访客类型</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- 引入 Bootstrap -->
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet"
	th:href="@{/bootstrap/css/bootstrapValidator.min.css}">
<link rel="stylesheet" th:href="@{/css/supplier.css}">
<!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
<!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
<!--[if lt IE 9]>
         <script th:src="@{/jquery/html5shiv.js}"></script> 
         <script th:src="@{/jquery/respond.min.js}"></script> 
      <![endif]-->
</head>
<body>
	<div class="container-fluid body">
		<div class="row head">
			<a th:href="@{/visitor/choose}"><span class="back glyphicon glyphicon-chevron-left"></span></a><span>供应商访客登记</span>
		</div>
		<div class="row">
			<form id="defaultForm" method="post" enctype="multipart/form-data"
				class="form-horizontal" action="supplierSave">
				<div class="panel-group" id="steps">
					<!-- Step 1 -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#steps" href="#stepOne">供应商资料</a>
							</h4>
						</div>
						<div id="stepOne" class="panel-collapse collapse in">
							<div class="panel-body">
								<div class="form-group">
									<label class="col-lg-3 control-label">姓名</label>
									<div class="col-lg-5">
										<input type="text" class="form-control" name="name" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-3 control-label">性别</label>
									<div class="col-lg-5">
										<select name="gender" class="form-control">
											<option value="">请选择</option>
											<option value="1">男</option>
											<option value="0">女</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-3 control-label">证件类型</label>
									<div class="col-lg-5">
										<select id="idType" name="idType" class="form-control">
											<option value="">请选择</option>
											<option value="0">身份证</option>
											<option value="1">驾驶证</option>
											<option value="2">社保证</option>
											<option value="3">护照</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-3 control-label">证件号</label>
									<div class="col-lg-5">
										<input type="text" class="form-control" name="idCard" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-3 control-label">手机号</label>
									<div class="col-lg-5">
										<input type="text" class="form-control" name="phone" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-3 control-label">照片</label>
									<div class="col-lg-5">
										<label for="upload" class="form-control">上传图片</label> <input
											type="file" class="form-control" name="file" id="upload"
											multiple="multiple" accpet="image/*" />
									</div>
									<div class="preview_img_list clearfix "></div>
								</div>
								<div class="form-group">
									<label class="col-lg-3 control-label">安全告知</label>
									<div class="col-lg-5">
										<div data-spy="scroll" data-target="#navbar-example"
											data-offset="0"
											style="height: 200px; overflow: auto; position: relative;">
											<h4>进入厂区注意事项</h4>
											<h4>尊贵 的来宾：</h4>
											<p>非常欢迎您来到我们公司制剂药厂区！为了您的安全，在我们厂区检查/参观时，请注意以下情况：</p>
											<h5>仓库：</h5>
											<p>为高架仓库，我们给您准备了安全帽，请进入高架仓库时，在引导员的陪同下佩戴安全帽！</p>
											<h5>生产车间：</h5>
											<p>饰品、手机等私人物品不得带入车间，我们为您准备了收纳袋用于存放。进入制药生产车间时，请在引导员的陪同下进行更衣，我们为您准备了参观服
												进入洁净区为您准备了洁净服，口罩及手套等物品。您的笔和笔记本最好也不要带入车间洁净区，我们在洁净区给您准备了笔和笔记本。如果您有
												重度感冒、咳嗽、流鼻涕或体表有伤口的情况，请告知我们，我们公司规定此类人员是不得进入生产区域。</p>
											<h5>化验室：</h5>
											<p>介于安全考虑，进入化验室时，请佩戴护目镜。</p>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="checkbox col-sm-offset-2 col-sm-10">
										<label> <input type="checkbox" name="agree">我同意
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-9 col-lg-offset-3 text-center">
						<button type="submit" class="btn btn-primary" name="signup">提交</button>
					</div>
				</div>
			</form>
		</div>
		
		<div class="row">
			<!-- 按钮触发模态框 -->
			<button class="btn btn-primary btn-lg" data-toggle="modal"
				data-target="#myModal" id="warnBtn" style="display: none">触发按钮</button>
			<!-- 模态框（Modal） -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>提示
							</h4>
						</div>
						<div class="modal-body">
							<span id="warnMessage"></span>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">确定</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal -->
			</div>
		</div>
	</div>

	<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
	<script th:src="@{/jquery/jquery-3.3.1.min.js}"></script>
	<!-- 包括所有已编译的插件 -->
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/bootstrap/js/bootstrapValidator.min.js}"></script>
	<script th:src="@{/js/supplier.js}"></script>
</body>
</html>