<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>访客信息登记</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/index.js"></script>
</head>

<body>
    <div>
        <form action="addData" method="post">
            <p>姓名:
                <input type="text" name="name" />
            </p>
            <p>手机号:
                <input type="text" name="phone" />
            </p>
            <p>身份证:
                <input type="text" name="idCard" />
            </p>
            <p>拜访人:
                <input type="text" name="visitor" />
            </p>
            <p>部门:
                <input type="text" name="dept" />
            </p>
            <input type="submit" value="Submit" />
        </form>
    </div>
</body>

</html>